/* styling the headline ticker */

/*.headline-box {
  width: 100%;
  float: left;
  margin: 0px auto 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  background: #0a446c;
  margin-bottom: 4rem;
}
.box-animation {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 0 8px 100%;
  display: inline-block;
  animation: headline 30s infinite linear;
}
@keyframes headline {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.headline-box span div {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0 30px;
  width: auto;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}*/

/* styling the section 2 company information */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.row-info h1 {
  font-size: 44px;
  color: rgb(32, 106, 143);
  text-shadow: 2px 2px 5px rgb(176, 175, 175);
  font-weight: 600;
}
.sec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  position: relative;
}
.row-img img {
  border-radius: 10px;
  box-shadow: rgba(82, 82, 83, 0.2) 0px 7px 29px 0px;
}

.text {
  text-align: start;
  font-size: 18px;
  word-spacing: 3px;
  color: rgb(99, 98, 98);
  line-break: 5px;
  position: relative;
  transition: all 500ms ease;
}

.sec3 {
  margin-top: 4rem;
  padding: 0 6rem;
}
.container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-about h1 {
  font-size: 40px;
  color: rgb(32, 106, 143);
  text-shadow: 2px 2px 5px rgb(176, 175, 175);
  font-weight: 600;
  text-transform: uppercase;
}
.key-points-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.text-sec3 {
  font-size: 19px;
  color: rgb(53, 53, 53);
  font-weight: 500;
  transition: all 500ms ease;
}

/* styling the section 4 mision and vision content */

.statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statement h1 {
  font-size: 40px;
  color: rgb(32, 106, 143);
  text-shadow: 2px 2px 5px rgb(176, 175, 175);
  font-weight: 600;
  text-transform: uppercase;
}
.statement p {
  font-size: 19px;
  color: rgb(53, 53, 53);
  font-weight: 500;
  transition: all 500ms ease;
}
.sec4 {
  margin-top: 4rem;
  padding: 0 6rem;
}
.sec4-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  margin-top: 1rem;
}
.sec4-content h1 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(21, 70, 95);
}
.sec4-content p {
  font-size: 18px;
  line-height: 30px;
  color: rgb(99, 98, 98);
  line-break: 5px;
  position: relative;
  transition: all 500ms ease;
  width: 50%;
}
