.headline-box {
  width: 100%;
  float: left;
  margin: 0px auto 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  background: #0a446c;
}
.box-animation {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 0 8px 100%;
  display: inline-block;
  animation: headline 30s infinite linear;
}
@keyframes headline {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.headline-box span div {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0 30px;
  width: auto;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}
