@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    
}
/* styling the headline ticker */

.headline-box {
  width: 100%;
  float: left;
  margin: 0px auto 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  background: #0a446c;
  margin-bottom: 0rem;
}
.box-animation {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 0 8px 100%;
  display: inline-block;
  animation: headline 15s infinite linear;
}
@keyframes headline {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.headline-box span div {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0 30px;
  width: auto;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* styling the navbar */

* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(250, 247, 247);
}


.nav-content {
  display: flex;
  justify-content: space-between;
  position: static;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
  border-bottom: 1px white solid;
  border-top: 1px solid white;
  background-color: black;
  height: 7rem;
  z-index: 10;
}

.list a {
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  padding: 6px 12px;
  color: rgb(250, 250, 250);
}
.list a:hover {
  color: rgb(35, 155, 215);
}

.logo {
  width: 12%;
  margin-left: 2rem;
}


.info h1 {
  font-size: 48px;
  text-align: right;
  color: rgb(250, 250, 250);
  font-weight: 600;
  padding-right: 40px;
  padding-top: 14%;
  display: block;
}

/*
<<<<<<< HEAD
*/
.btn {
  padding: 14px 28px;
  color: rgb(250, 250, 250);
  background-color: #0a446c;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  margin-left: 70%;
}

.btn:hover {
  background-color: rgb(49, 193, 49);
}

.logo {
  width: 12%;
  margin: auto;
}

/* styling the footer */
/*
>>>>>>> 603e7893fdf375d29dbeadb89392b63eee6aa6a9
*/

.whatsapp-icon {
  display: flex;
  justify-content: left;
  padding: 6px;
}
.whatsapp-icon a {
  position: fixed;
  bottom: 1rem;
}

.footer-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  height: 100%;
  width: 100%;
  background-color: rgb(53, 53, 53);
  padding: 2rem;
  margin-top: 2rem;
}
.company {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: #fff;
}
.company p {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  color: #bdb6b6;
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.footer-links a {
  text-decoration: none;
  color: #bdb6b6;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}
.footer-links a:hover {
  color: rgb(35, 155, 215);
}
.links {
  display: flex;
  flex-direction: column;
}
.footer-heading {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  margin-top: 2rem;
}

.footer-heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: rgb(35, 155, 215);
  height: 2px;
  width: 40px;
  margin-top: 2rem;
}
.follow-links a {
  padding: 10px;
  cursor: pointer;
}
/*
<<<<<<< HEAD
*/
@media screen and (max-width: 768px) {
  .footer-sec {
    flex-direction: column;
  }
  .company {
    width: 100%;
  }
  .footer-links {
    margin-top: 2rem;
  }
  .footer-links a {
    font-size: 15px;
  }
  .footer-heading {
    margin-top: 2rem;
  }
  .footer-heading::before {
    width: 30px;
  }
  .follow-links a {
    padding: 10px;
  }
  .container {
    height: 100vh;
    background-image: 100%;
    flex-direction: column;
  }
  .info {
    padding-top: 20%;
    text-size-adjust: 20px;
  }
  .btn {
    margin-left: 50%;
  }
  .nav {
    display: none;
  }
  .logo {
    width: 40%;
    justify-content: center;
    margin-right: auto;
  }
  .nav-content {
  }
}
/*
=======
>>>>>>> 603e7893fdf375d29dbeadb89392b63eee6aa6a9
*/